/* 定义不同分辨率下的列数 */
.line-chart {
    display: center;
  }
  
  /* 默认情况下，显示4列 */
  .item-list {
    width: 500;
    height: 300;
  }
  
  /* 当屏幕宽度小于768px时，显示3列 */
  @media (max-width: 768px) {
    .item-list {
        width: 400;
        height: 300;
    }
  }
  
  /* 当屏幕宽度小于576px时，显示2列 */
  @media (max-width: 576px) {
    .item-list {
        width: 300;
        height: 300;
    }
  }
  
  /* 当屏幕宽度小于480px时，显示1列 */
  @media (max-width: 480px) {
    .item-list {
        width: 200;
        height: 300;
    }
  }